.nav {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.navItem > a {
  display: flex;
  align-items: center;
  height: 2rem;
}

.logoStack {
  height: 1rem;
}

.brand {
  color: var(--accent);
  display: inline-flex;
}
