.container {
	display: flex;
	height: 100%;
	width: 100%;
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.item:first-child {
	border-left: none;
}

.item {
	height: 100%;
	width: 20%;
	border-left: 1px solid var(--line-color);
}

@media only screen and (max-width: 670px) {
	.item:last-child {
		display: none;
	}

	.item {
		width: 33%;
	}
}

@media only screen and (max-width: 940px) {
	.line {
		width: 25%;
	}
}
