* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Merriweather', sans-serif;
	background-color: #fafafa;
}

main {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

button {
	cursor: pointer;
}

h2 {
    font-weight: 300;
        margin: 0.5em;
}

.prob {
    display: flex;
}


.nhead {
    color: #982929;
    border-bottom: 1px solid black;
}


.containers {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(1.4em + 0.6vw);
    margin-left: calc(1vw + 0.8em);
    margin-bottom: 0.5em;
}

.containers .gs {
    margin-bottom: 0.3em;
    border-radius: 50%;
    width: calc(0.5vw + 1.4em);
    height: calc(0.5vw + 1.4em);
	background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(0.4em + 0.6vw);
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#stats {
    display: flex;
    flex-wrap: wrap;
}

button {
    all: unset;
	width: 11em;
    background-color: #76bfff;
    padding: 0.6em;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 1em;
    margin: 0.4em;
    margin-bottom: 1em;
    border: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
}

button:hover {
	background-color: #94cdff;
	border: 1px solid rgba(0,0,0,0.3);
}

button:active {
	background-color: #d1e6f8;
}

button.active {
	background-color: #d1e6f8;
}

.statholder {
    flex-basis: 40%;
    min-width: 250px;
	 box-shadow: 0 1px 3px rgba(0,0,0,.3);
    margin-bottom: 0.6em;
    margin-right: 0.6em;
	padding: 0.5em;
	background-color: white;
}

.statholder span {
    padding: 0.3em;
}

.fraction, .top, .bottom {
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}
