.link {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  padding: 0 0.05rem;
  margin: 0 -0.05rem;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent); /* fallback */
}
