* {
	user-select: none;
}

#imgholder {
    margin: 0;
    padding: 0;
    position: absolute;
}

h1,h2,h3,span,p,div,button {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3 {
	font-weight: 300;
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}
body {
    background-color: rgba(249, 249, 249, 1);
    margin: 0;
    padding: 0;
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: white;
    max-width: 800px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 1s;
}

#uppercontent {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	margin-top: 50px;
}

#lowercontent {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sizeHead {
	margin-right: 0.5em
}

#sizevalue {
	width: 50px;
	margin-left: 1em
}


footer {
   margin: 6em 0 3em 0;
    color: rgba(150,150,150);
    font-size: 0.6em;
}

#colours {
    margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.color {
	display: flex;
	align-items: center;
}

.timg {
    width: 45px;
} 

#download, #buttons {
	margin-top: 0.5em;
}

footer span {
	font-size: 1em;
}


@media only screen and (max-width: 900px) {
    #canvas {
        width: 400px;
        height: 300px;
    }
    #lowercontent {
        flex-direction: column;
    }
    .timg {
    width: 20px;
} 