.description {
	font-style: italic;
	color: var(--text-color);
	letter-spacing: 0.25px;
}

.header {
	text-align: left;
	background: var(--main-background-color);
}

.insert {
	position: relative;
	background: var(--main-background-color);
}

.insert img,
.insert video {
	display: block;
	max-width: 100%;
	object-fit: contain;
}
