.project {
  width: 100%;
}

.project > section {
  background: var(--main-background-color);
}

.header {
  text-align: left;
  margin-bottom: 1rem;
  background: var(--main-background-color);
}

.header h1 {
  margin-bottom: 0;
}

.lift {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  background: var(--main-background-color);
}

.insert {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--main-background-color);
}

.insert img,
.insert video {
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.insert:first-of-type {
  margin-top: 1rem;
}
