#wrap { 
	width: 1250px; 
	margin: 0 auto; 
}

div#button1 {
	position: fixed;
	margin-top: 300px;
	margin-left: 330px;
	width: 600px;
	height: 550px;
}

div#button2 {
	position: fixed;
	margin-top: 300px;
	margin-left: 860px;
	width: 600px;
	height: 550px;
}

div#dunotlik {
margin-left: 1030px;
margin-top:230px;
}


div#loogeli {
	position: fixed;
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	height: 200px;
	background-image: url("./images/mustapagom.gif");
	background-size: 200px 200px;
}

div#otsikko {
	position: fixed;
	margin-top: 10px;
	margin-left: 220px;
	width: 800px;
	height: 200px;
	font-size: 60px;
	font-family:  Franklin Gothic Heavy;
	/*background-color: rgb(255,255,255);*/
	background-image: url("./images/pal2.jpg");
}

div#loogeli2 {
	position: fixed;
	margin-top:10px;
	margin-left: 1030px;
	width: 200px;
	height: 200px;
	background-image: url("./images/mustapagom.gif");
	background-size: 200px 200px;
}

div#loogeli3 {
	position: fixed;
	margin-top:10px;
	margin-left: 1030px;
	width: 200px;
	height: 200px;
	background-image: url("./images/mustapagom.gif");
	background-size: 200px 200px;
}

div#palkkilista {
	position: fixed;
	margin-top: 187px;
	margin-left: 5px;
	width: 205px;
	height: 600px;
	text-align: left;
	background-color: rgba(255,255,255,0);
	background-image: url("./images/pal.png");
	font-family:  Arial, Helvetica, sans-serif;
	color: white;
}

div#kuvaalue {
	position: fixed;
	margin-top: 330px;
	margin-left: 330px;
	width: 600px;
	height: 550px;
	overflow-y: auto;
	color: white;
}


div#mainos {
	position:fixed;
	margin-left:1030px;
	margin-top:270px;
	/*background-image: url("./images/mainos.gif");*/
	width: 126px;
	height: 385px;
}

h1#palkki {
	text-align: center;	
	color: rgb(12,24,12);
	font-family:  Franklin Gothic Heavy;
	font-size:70px;
	
}

p#palkkiotsikko {
	text-align: center;
	font-family:  Franklin Gothic Heavy;
	font-size: 50px;
	
}

p#otsikkoteksti {
	text-align: center;
}



body {
	background-image: url("./images/asd.jpg")
}






