.wrapper {
  padding: 2rem;
  pointer-events: all;
  gap: 0.5rem;
  transform: translateZ(calc(-1 * var(--scene-depth)));
  height: 97vh;
  overflow: scroll;
  box-sizing: border-box;
}

.layout {
  max-width: 600px;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 100%;
}

@media (max-width: 420px) {
  .wrapper {
    margin: 1.25rem 1rem;
  }
}
