.wrapper {
  margin: 2rem;
}

.layout {
  max-width: 600px;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 100%;
}

@media (max-width: 420px) {
  .wrapper {
    margin: 1.25rem 1rem;
  }
}
