@import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --bg: #fff;
    --bg2: #f0f3f7;
    --bg3: #4a00d0;
    --bg4: #39029c;
    --bg5: #d00013;

    --text: #000;
    --text2:#545454;
    --text3: #fff;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

p, span, h1, i, h2, h3, a {
    z-index: 1;
}


/* 'variable' classes */

.rot {
    transform: rotate(-20deg);
    display: inline-block
}

.warp {
    transform: scaleX(1.1);
    font-size: 0.79em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
}


.bg {
    background-color: var(--bg);
    color: black;
}

.bg2 {
    background-color: var(--bg2);
    color: black;
}

.bg3 {
    background-color: var(--bg3);
    color: white;
}

.bg4 {
    background-color: var(--bg4)
}

.text1 {
    color: var(--text)
}

.text2 {
    color: var(--text2)
}

.text3 {
    color: var(--text3)
}

.etch {
    text-shadow: 0 2px white;
    color: #b8bec5;
}

.flex {
    display: flex;
    flex-direction: column;
}

.divide {
    flex-direction: row;
    padding: 0;
}

.divide > div {
    flex-basis: 50%;
}

.divide-img {
    width: 200px;
    background-color: var(--bg2);
    z-index: 1;
    border-radius: 2em;
}

.reverse-wrap {
    flex-wrap: wrap-reverse !important;
}

.text-div-images {
    flex-wrap: wrap;
}

.text-div-images > div {
    padding: 5em 0;
}

.text-div {
    padding: 1em 0%;
    max-width: 800px;
}

.d-header {
    flex-basis: 40%;
    padding: 0 0.3em;
}

.d-text {
    flex-basis: 60%;
    padding: 0 0.7em;
    background-color: var(--bg2);
    z-index: 1;
}

.img-divide-text {

}

.h-mid {
    justify-content: center;
}

.v-mid {
    align-items: center;
}

.h1 {
    font-size: 64px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
}

.h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.text-left {
    align-items: flex-start;
}

.text-right {
    align-items: flex-end;
}



.hp {
    padding-left: 2em;
    padding-right: 2em;
}

.vp {
    padding-top: 2em;
    padding-right: 2em;
}
/*Proper element stuff*/

.navwrapper {
    display: flex;
}

.navbrand {
    padding: 1em 0;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;
    padding-left: 10%;
    color: white;
}


.navlinks {
    background: var(--bg1);
    padding: 1em 0;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    padding-right: 10%;
}

.navlinks .navlink {
    color: var(--text);
    text-decoration: none;
}

.navitem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 450;
    padding: 0 0.7em;
    font-size: 1.2em;
}

.navitem.brand {
    font-weight: 700;
    text-transform: lowercase;
    padding: 0.3em;
   /* background-color: rgba(36, 42, 74,.25);*/
    white-space: nowrap;
    margin-right: 1.8em;
    font-size: 1.4em;
}

.navitem:not(.brand):hover {
    text-decoration: underline;
}

ol {
    counter-reset: items;
    padding: 0;
}

li {
    display: block;
    counter-increment: items;
    
}

li:before {
    content: "0" counter(items)" ";
    width: 2em;
    display: inline-block;
  }

  li:nth-child(n+10):before {
    content: counter(items)" ";
  }

  .largelist {
      font-size: 1.3em;
      text-transform: uppercase;
    font-weight: 600;
  }


.bg-art {
    display: flex;
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
}

.bg-item {
    height: 100%;
    width: 20%;
    border-left: 1px solid rgba(23, 22, 43, 0.05);
}

.bg-item:first-child{
    border-left: none;
}

.content {
    width: 100%;
    height: 100%;
}

p.lift {
    padding: 2em;
    font-weight: 500;
}

.card {
    margin: 0;
    padding: 1em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-inner {
    max-width: 900px;
    padding: 0 calc(0.7rem + 4vw);
}

.divider {
    position: relative;
    display: flex;
    justify-content: center;
}

.divider-icon {
    position: absolute;
    transform: translateY(-50%);
    color: var(--bg3);
}

.divider-icon i {
   font-size: 5em;
}

.before-divider {
    padding-bottom: 5rem;
}

.after-divider {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.large-icon i {
    font-size: 5em;
}

.c1 {
    height: 50vw;
}

.c2 {
    height: 100vw;
}

.c3 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c0/Location_dot_black.svg);
    background-repeat: repeat;
}

.c4 {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.hero {
    position: relative;
    padding: 10em 0;
    overflow: hidden;
}

.hero .h1 {
    font-size: 8em;
}

.heroanimator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bubble {
    position: absolute;
    animation: bubble;
    background-color: white;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}

.projects {
    max-width: 900px
}

.project-div {
    text-decoration: none;
    color: black;
    padding: 3em 0;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.project-div:hover .project {
    transform: skewX(5deg) skewY(10deg) translateY(-1em);
    box-shadow: -44px 75px 0 0 rgba(0, 0, 0, 0.9)
}

.project-div:hover .project-bg {
    filter: none;
    background-color: transparent;
}


.project-div:hover .invertable {
    color: white;

}

.invertable {
    transition: color 0.4s;
}

.project {
    position: relative;
    transform: skewX(5deg) skewY(10deg);
    height: 250px;
    width: 240px;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -29px 30px 0px 0px rgba(0, 0, 0, 0.9);
    margin-left: 1em;
    transition: transform 0.7s, box-shadow 0.7s;
    
}

.project-header {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    color: black;
}

.project-bg {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-blend-mode: luminosity;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(0px) brightness(1.2);
    background-color: #4943f0;
    transition: background-color 0.5s, filter 0.5s;
}

div.project-meta {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-basis: 50%;
    min-width: 300px;
}

p.project-meta {
    padding: 3em;
    font-size: 1.14rem;
    font-weight: 450;
}

footer.card {
    padding: 4em 0;
    padding-bottom: 3em;
}

.footerspan span {
    padding: 0.3em;
    font-weight: 700;
    font-size: 1.1rem;
    text-shadow: 0 2px white;
    color: #b8bec5;
    text-transform: lowercase;
}

.footericon i {
    font-size: 1rem;

}

/* FILTERS */
.invert {
    filter: invert(1) hue-rotate(180deg);
    transition: filter 0.3s
}



@keyframes bubble {
    0% {
        transform: scale(0);
        opacity: 0.3;
    }
    50% {
        opacity: 0;
        transform: scale(8);
    }
    100% {
        opacity: 0;
        transform: scale(8);
    }
/*	0% {
    transform: scale(14);
    opacity: 0;
}
50% {
    opacity: 0.3;
    transform: scale(0);
}
100% {
    opacity: 0;
    transform: scale(0);
}*/
}

@media only screen and (max-width: 940px) {
    .bg-item:first-child{
        display: none;
    }

    .bg-item {
        width: 25%;
    }
}   


@media only screen and (max-width: 640px) {
    .project-div {
        flex-direction: column;
    }

    .bg-item:last-child{
        display: none;
    }

    .bg-item {
        width: 33%;
    }

    .text-div-images > div {
        padding: 2em 0;
    }

    .divide > div {
        flex-basis: 100%;
    }

    .divide {
        justify-content: center;
    }

    .navbrand {
        padding:0;
    }
    .navitem.brand {
        margin:0;
        padding: 0;
        background-color: initial;
        padding-right:.4em;
        padding-left: .3em;
    }

    .navitem {
        font-size: 0.9em;
        padding: 0 0.46em;
    }
    .hero .h1 {
        font-size: calc(2em + 9vw);
    }

    .c4 {
        font-size: calc(1.5rem + 5vw)
    }

}   

@media (prefers-reduced-motion: reduce) {
    .bubble {
      animation: none;
      -webkit-animation: none;
    }
  }