:root {
  color-scheme: light dark;
  --hue: 222;
  --background-light: hsl(var(--hue) 100% 98% / 1);
  --background-dark: hsl(var(--hue) 100% 4% / 1);
  --accent-light: hsl(var(--hue) 100% 50%);
  --accent-dark: hsl(var(--hue) 100% 50%);
  --background: light-dark(var(--background-light), var(--background-dark));
  --foreground: light-dark(var(--background-dark), var(--background-light));
  --accent: light-dark(var(--accent-light), var(--accent-dark));
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.025rem;
  line-height: 1.5;
}

pre,
code {
  font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
  font-size: 0.825rem;
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::selection {
  background-color: var(--accent);
  color: var(--background-light);
}

.hljs {
  background-color: light-dark(#0d1117, transparent) !important;
}

code.hljs {
  border-radius: 0.2rem;
}
