:root {
  color-scheme: light dark;
  --hue: 215;
  --dark-accent-hue: var(--hue);
  --background-light: hsl(var(--hue) 100% 98%);
  --background-dark: hsl(var(--hue) 76% 8%);
  --foreground-light: hsl(var(--hue) 100% 15%);
  --foreground-dark: hsl(var(--hue) 90% 87% / 1);
  --foreground-secondary-light: hsl(var(--hue) 90% 20%);
  --foreground-secondary-dark: hsl(var(--hue) 100% 89% / 1);
  --accent-light: hsl(var(--hue) 80% 32%);
  --accent-dark: hsl(var(--dark-accent-hue) 100% 70%);
  --accent-light-secondary: hsl(var(--hue) 90% 42%);
  --accent-dark-secondary: hsl(var(--dark-accent-hue) 100% 74%);
  --line-color-light: hsl(var(--hue) 100% 11% / 0.08);
  --line-color-dark: hsl(var(--hue) 100% 50% / 0.06);
  --background: light-dark(var(--background-light), var(--background-dark));
  --foreground: light-dark(var(--foreground-light), var(--foreground-dark));
  --foreground-secondary: light-dark(
    var(--foreground-secondary-light),
    var(--foreground-secondary-dark)
  );
  --accent: light-dark(var(--accent-light), var(--accent-dark));
  --accent-2: light-dark(
    var(--accent-light-secondary),
    var(--accent-dark-secondary)
  );
  --heading-gradient: linear-gradient(
    to right,
    var(--foreground),
    var(--foreground-secondary)
  );
  --gradient: linear-gradient(to right, var(--accent), var(--accent-2));
  --link-color: var(--accent);
  --line-color: light-dark(var(--line-color-light), var(--line-color-dark));
}

html[data-color-scheme='light'] {
  color-scheme: light;
}

html[data-color-scheme='dark'] {
  color-scheme: dark;
}

html {
  scrollbar-gutter: stable;
  scroll-padding-top: 1.5rem;
}

body {
  color: var(--foreground);
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.025rem;
  line-height: 1.25;
}

* {
  transition: background-color 0.3s;
}

main,
nav,
body {
  background-color: var(--background);
}

body:has(.not-found) main,
body:has(.not-found) nav {
  background-color: transparent !important;
}

pre,
code {
  font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
  font-size: 0.825rem;
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
  letter-spacing: -0.05rem;
  color: var(--foreground-secondary);
  color: transparent;
  background: var(--heading-gradient);
  background-clip: text;
  padding-bottom: 0.25rem;
  margin-bottom: -0.25rem;
  line-height: 1;
}

img {
  object-fit: contain;
}

a {
  line-height: 1;
  color: inherit;
  text-decoration: none;
  font-weight: 550;
  letter-spacing: -0.05rem;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::selection {
  background-color: var(--accent);
  color: var(--background-light);
}

time {
  width: 6.25rem;
  flex-shrink: 0;
  line-height: 1;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article h1 {
  font-size: 2rem;
}

.hljs {
  background: transparent;
  border: 1px solid hsl(var(--hue) 80% 30% / 25%);
}

code.hljs {
  border-radius: 0.2rem;
  box-shadow: inset 0 4px 6px -1px hsl(var(--hue) 91.67% 9.41% / 20%),
    0 2px 4px -2px hsl(var(--hue) 91.67% 9.41% / 10%);
  font-size: 0.8125rem;
}

[data-color-scheme='light'] code.hljs {
  filter: hue-rotate(180deg) invert(1);
}

.icon.icon-link {
  opacity: 0;
  margin-left: 0.25rem;
  font-size: 0.8em;
  color: var(--foreground-secondary);
}

.icon.icon-link::after {
  content: '#';
}

*:hover > a .icon.icon-link {
  opacity: 1;
}

/* Flex bs */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-flex-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-flex-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

.items-baseline {
  align-items: baseline;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* Gap classes */
.gap-none {
  gap: 0;
}

.gap-tiny {
  gap: 0.125rem;
}

.gap-small {
  gap: 0.25rem;
}

.gap-medium {
  gap: 0.5rem;
}

.gap-large {
  gap: 1rem;
}

.gap-xLarge {
  gap: 2rem;
}
