.page h1 {
  font-size: 1rem;
}

.intro {
  max-width: 380px;
  line-height: 1.25;
}

.intro p:not(:first-of-type) {
  margin-top: 0.5lh;
}

.profile-image {
  --size: 7lh;
  float: inline-end;
  height: var(--size);
  width: var(--size);
  object-fit: cover;
  margin-inline-start: 0.5lh;
  margin-inline-end: 0.75lh;
  margin-block: 0.125lh;
  mix-blend-mode: luminosity;
  border: 6px ridge
    light-dark(
      var(--foreground-secondary-dark),
      var(--foreground-secondary-light)
    );
}

@media (max-width: 340px) {
  .profile-image {
    --size: 5lh;
    /* margin: 0;
    float: unset;
    margin-block-end: 0.25lh; */
  }
}
