.page h1 {
  font-size: 1rem;
}

.intro {
  max-width: 380px;
  line-height: 1.25;
}

.intro,
.intro * {
  box-sizing: border-box;
}

.intro p {
  /* text-align: justify; */
}

.intro p:not(:first-of-type) {
  margin-top: 0.5lh;
}

.profile-image {
  --size: 7lh;
  float: inline-end;
  height: var(--size);
  width: var(--size);
  object-fit: cover;
  margin-inline-start: 0.5lh;
  margin-block-start: 0.25lh;
  mix-blend-mode: luminosity;
}

@media (max-width: 380px) {
  .profile-image {
    --size: 5lh;
    margin: 0;
    float: unset;
    margin-block-end: 0.25lh;
  }
}
