* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

#wrap {
    margin: 0 auto;
    padding: 0;
}

#headeri {
    display: flex;
    flex-direction: row;
}





div#loogeli {
    width: 14vw;
    height: 14vw;
    background-image: url("./images/mustapagom.gif");
    background-size: cover;
    margin-right: 1vw;
}

div#otsikko {
    width: 68vw;
    height: 14vw;
    font-size: calc(1em + 2.8vw);
    font-family: Franklin Gothic Heavy;
    background-color: rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#loogeli2 {
    width: 14vw;
    height: 14vw;
    background-image: url("./images/mustapagom.gif");
    background-size: cover;
    margin-left: 1vw;
}

#content {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
}

div#palkkilista {
    width: 14vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
}

div#palkkihead {
    background-image: url("./images/pal.png");
    background-size: cover;;
    background-repeat: no-repeat;
}

p#palkkiotsikko {
    text-align: center;
    font-family: Franklin Gothic Heavy;
    font-size: calc(1em + 1.3vw);

}

div#itselista {
    position: relative;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding-left: calc(1em + 0.3vw);
}

li {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: calc(0.4em + 0.9vw);;
}

div#button1 {
    margin: 1em;
}

div#button2 {
    right: 0;
    margin: 1em;
}

div#kuvaalue {
    position: relative;
    width: 68vw;
    max-height: 70vh;
    color: white;
    margin-right: 1vw;
    display: flex;
    background-color: darkslategrey;
    flex-direction: column;
}

div#napit {
    display: flex;
    justify-content: space-around;
    width: 68vw;
}

#kuva {
    max-width: 64vw;
    max-height: 44vh;
    align-self: center;
    margin-bottom: 2vw;
    height: auto;
}

div#hmmthonk {
    width: 14vw;
    max-height: 70vw;
}

#hmmimg {
    max-width: 14vw;
}

p#otsikkoteksti {
    text-align: center;
}

body {
    background-image: url("./images/asd.jpg")
}