.groups {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  align-self: stretch;
  gap: 0.5rem;
  align-items: flex-end;
  position: relative;
}
.header h3 {
  line-height: 1;
  white-space: nowrap;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
