.child {
    display: block;
}

.waiting {
    visibility: hidden;
}

.fade-in {
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
