.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
}

.button {
  background: none;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  color: #444444;
}

.button svg {
  --size: 0.82rem;
  width: var(--size);
  height: var(--size);
  transform: rotate(0);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  color: black;
}

[data-theme='dark'] .button {
  color: #e0c80f;
}

[data-theme='dark'] .button svg {
  transform: rotate(370deg);
  display: block;
}

[data-theme='dark'] .button:hover {
  color: #ffe000;
}

.button:hover svg {
  --size: 0.83rem;
}
