 * {
     box-sizing: border-box;
 }

 html {
     font-family: 'lato', sans-serif;
     overflow-y: scroll;
     overflow-x: hidden;
 }

 body {
     background-color: rgb(9, 21, 57);
     margin: 0;
     padding: 0;
     height: 6500px
 }

 #wrapper {
     position: relative;
     font-family: 'lato', sans-serif;
 }



 a.elevator {
     text-transform: lowercase;
     text-decoration: none;
     color: rgba(254, 254, 254, 0.80);
     font-size: 0.8em;
 }

 a.elevator:hover {
     color: rgba(46, 46, 46, 1.00);
 }

 img {
     display: block;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }




 /*Taustan osa-alueet*/

 #content {
     text-align: center;
     position: relative;
     top: 2400px;
     max-width: 100%;
     padding: 0 10px;
     margin: 0 0;
     color: whitesmoke;
     z-index: 5;
 }

.borderhead {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 0 4em;
    border: 2em solid rgba(0,0,0,0);
    border-radius: 10px;
}

h1.headerclass {
    font-size: calc(2.2em + 0.5vw);
} 

p.authorp {
    font-size: calc(1em + 0.5vw) ;
}


 #parallaksipohja {
     position: fixed;
     z-index: -1;
     top: 0;
     width: 100%;
     margin: 0;
     padding: 0;
 }

 #parallaksipohjatausta {
     position: absolute;
     top: 1950px;
     width: 100%;
     height: 1800px;
     background-image: url(../img/pixpohja.png);
     background-repeat: repeat;
     margin: 0;
     padding: 0;
 }

 #kivibg {
     position: relative;
     top: 3850px;
     width: 100%;
     height: 1800px;
     background-image: url(../img/pixpohja6.png);
     background-repeat: repeat;
     margin: 0;
     padding: 0;
 }

 #truepohja {
     z-index: 101;
     position: relative;
     top: 4800px;
     width: 100%;
     height: 370px;
     background-image: url(../img/truepohja.png);
     background-repeat: repeat-x;
     margin: 0;
     padding: 0;
 }

 #merenpohja {
     z-index: 10;
     background-color: darkblue;
     position: relative;
     top: 5000px;
     height: 1450px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #kivipohja {
     z-index: 100;
     background-color: #3e3e3e;
     position: relative;
     top: 4500px;
     height: 1200px;
     width: 100%;
 }




 /* Parallaksi scroll elementtien sijoittelu/tyylit */

 #parallaksi3 {
     display: inline-block;
     z-index: 5;
     position: fixed;
     left: 50%;
     top: 0;
     margin-left: calc( -7em - 25% );
     
 }


 #parallaksi2 {
     z-index: 4;
     position: fixed;
     left: 50%;
     top: 0;
     width: 1200px;
     margin-left: -600px;
 }

 #p2-2 {
     position: absolute;
     top: 1105px;
     left: 733px;

 }

 #p2-3 {
     position: absolute;
     top: 1420px;
     left: 20px;

 }

 #p2-4 {
     position: absolute;
     top: 60px;
     left: -300px;

 }

 #p2-laiva {
     z-index: 2;
     position: absolute;
     top: 2030px;
     left: 300px;
 }

 #p2-laiva:hover {
     cursor: pointer;
 }

 #p2-parskyt2 {
     position: absolute;
     top: 2025px;
     left: 300px;
 }

 #p2-parskyt3 {
     position: absolute;
     top: 2000px;
     left: 300px;
 }

 #fiskcontainer2 {
     z-index: -1;
     left: 50%;
     top: 2000px;
 }

 #p2-fisk1 {
     z-index: -1;
     position: absolute;
     top: 500px;
     left: 250px;

 }

 #p2-fisk5 {
     z-index: -1;
     position: absolute;
     top: 580px;
     left: 830px;
 }

 #p2-fisk6 {
     z-index: -1;
     position: absolute;
     top: 800px;
     left: 720px;
 }


 #parallaksi1 {
     z-index: 3;
     position: fixed;
     left: 50%;
     top: 0;
     width: 1200px;
     margin-left: -599px;
 }

 #p1-1 {
     position: absolute;
     top: 459px;
     left: 440px;

 }

 #p1-2 {
     position: absolute;
     top: 630px;
     left: -40px;

 }

 #p1-3 {
     position: absolute;
     top: 905px;
     left: 930px;

 }

 #p1-4 {
     position: absolute;
     top: 30px;
     left: -300px;

 }

 #fiskcontainer1 {
     z-index: -1;
     left: 50%;
     top: 0;
 }

 #p1-fisk3 {
     z-index: -1;
     position: absolute;
     top: 900px;
     left: 150px;
     transform: scaleX(-1);
 }

 #p1-fisk4 {
     z-index: -1;
     position: absolute;
     top: 400px;
     left: 750px;
     transform: scaleX(-1);
 }


 #lintupassing {
     position: fixed;
     z-index: 6;
     width: 100%;
 }

 #lintupassingcontent {
     position: fixed;
     width: 100%;
     animation: marquee 9s linear infinite;
 }

 #lintupassingcontent:hover {
     cursor: crosshair;
 }

 #lintu {
     position: absolute;
     top: 1050px;
 }

 #raketti {
     z-index: 1000;
     position: absolute;
     left: 50px;
     top: 280px;
     width: 220px;
 }

 #raketti:hover {
     cursor: pointer;
 }

 #parpar2 {
     z-index: 4;
     position: fixed;
     top: 0;
     left: 50%;
     width: 1200px;
     margin-left: -600px;
 }

 #parpar2:hover {
     cursor: pointer;
 }

 #parpar3 {
     z-index: 1;
     position: fixed;
     top: 0;
     left: 50%;
     width: 1200px;
     margin-left: -600px;
 }

 #parpar3:hover {
     cursor: pointer;
 }

 /* Satunnaiset class-tyylit */

 .lista {
     padding: 1em 2em;
     background-color: rgba(0, 0, 0, 0.3);
     border: 10px solid rgba(0, 0, 0, 0);
     border-radius: 5px;
     z-index: 4;
     font-size: 1.2em;
     text-transform: none;
     max-width: 90%;
     margin-bottom: 15em;
 }

 .listaheader {
     color: rgba(235, 235, 235, 0.91);
     font-size: 2em;
 }

 .listalink {
     text-decoration: none;
     color: rgba(254, 254, 254, 1);
     font-weight: 100;
     transition: opacity 0.1s;
 }

 .lista:hover .listalink:not(:hover) {
     opacity: 0.4;
 }

 .globcave {
     display: flex;
     justify-content: center;
     opacity: 0;
 }

 .globimg {
     margin-top: 700px;
     max-width: 35%;
     align-self: center;
 }

 .headerbtn {
     position: absolute;
     top: 0.4%;
     left: 1%;
 }

 .pilvi {
     opacity: 0;
 }

 .cavebtn {
     position: absolute;
     bottom: 2%;
     left: 2%;
 }

 /* @media ja @keyframes etc */

 @keyframes marquee {
     0% {
         transform: translate(100%, 0);
     }
     100% {
         transform: translate(-100%, 0);
     }
 }