/* Default css */

body {
	background-color: #ffec16;
	color: #2e3232;
	
	font-family: 'Lato', sans-serif;
	
	text-align: center;
	
}




hr {
	color: #2e3232;
	background-color: #2e3232;
	
	border: 0;
	
	height: 2px;
	max-width: 33%;
	
	margin-top: 1em;
	margin-bottom: 1em;
}

#aphorisms {
	font-style: italic;
	color: darkslategray;
} 

.wrapper {
	
	margin-right: auto;
  	margin-left:  auto;

  	max-width: 1860px;

 	padding-right: 1em; 
 	padding-left:  1em;
}

i.list {
	
	font-size: 7em;
}



/* Kuvat */

.pbsvg {
	max-width: 7em;
	height: auto;
}


/* ----Taustan asetukset---- */

#particles-js {
	position:fixed;
	
  	top:0;
	right:0;
	bottom:0;
	left:0;
	
	z-index:0;
	
	filter: blur(2px);
  	-webkit-filter: blur(2px);
}

.gradu {

background: linear-gradient(270deg, #e37937, #ffec16);
background-size: 2000% 2000%;
	
-webkit-animation: taustagradu 30s ease infinite;
-moz-animation: taustagradu 30s ease infinite;
-o-animation: taustagradu 30s ease infinite;
animation: taustagradu 30s ease infinite;
}

@-webkit-keyframes taustagradu {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@-moz-keyframes taustagradu {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@-o-keyframes taustagradu {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@keyframes taustagradu { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
    
}