.wrapper {
    display: grid;
    justify-items: center;
    padding: 4rem;
    margin-top: auto;
}

.main {
    display: flex;
    align-items: center;
    gap: 1.8em;
}

.icon-link {
    display: flex;
}

.main a {
    color: var(--text-color);
    text-decoration: underline;
}
