* {
	box-sizing: border-box;
}

:root {
	--main-hue: 165;
	--main-background-color: hsl(var(--main-hue) 10% 95%);
	--nav-bg-color: hsla(var(--main-hue) 10% 95% / 0.5);
	--title-color: hsl(var(--main-hue) 55% 20%);
	--title-color-invert: white;
	--text-color: hsl(var(--main-hue) 75% 10%);
	--text-color-secondary: hsl(var(--main-hue) 2% 20%);
	--link-color: hsl(var(--main-hue) 50% 35%);
	--link-hover-color: hsl(var(--main-hue) 50% 55%);
	--line-color: hsl(var(--main-hue) 26% 35% / 8%);
	--image-background-color: hsl(0deg 0% 100% / 1%);
}

[data-theme='dark'] {
	--main-background-color: hsl(var(--main-hue) 96% 6% / 1);
	--nav-bg-color: hsl(var(--main-hue) 96% 6% / 0.5);
	--title-color: hsl(var(--main-hue) 35% 92%);
	--title-color-invert: black;
	--text-color: hsl(var(--main-hue) 35% 85%);
	--text-color-secondary: hsl(var(--main-hue) 35% 70%);
	--link-color: hsl(var(--main-hue) 100% 55%);
	--link-hover-color: hsl(var(--main-hue) 100% 85%);
	--line-color: hsl(var(--main-hue) 0% 100% / 4%);
	--image-background-color: hsl(var(--main-hue) 0% 18% / 10%);
}

.theme-transition,
.theme-transition * {
	transition: background-color 0.2s;
}

html {
	scrollbar-gutter: stable;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
	background: var(--main-background-color);
}

#__next,
body,
html {
	height: 100%;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

p,
span {
	color: var(--text-color);
	line-height: 1.75;
	margin: 0;
}

span {
	font-size: 0.9rem;
}

p {
	font-size: 1rem;
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--title-color);
}

h2 {
	letter-spacing: -0.0275rem;
	font-weight: 500;
	font-size: 1.5rem;
}

h3 {
	letter-spacing: -0.02rem;
	font-weight: 500;
}

.stack {
	display: flex;
}

.stack.row {
	flex-direction: row;
}

.stack.column {
	flex-direction: column;
}

.stack.wrap {
	flex-wrap: wrap;
}

.stack.none {
	gap: 0rem;
}

.stack.tiny {
	gap: 0.25rem;
}

.stack.small {
	gap: 0.5rem;
}

.stack.medium {
	gap: 0.75rem;
}

.stack.mediumlarge {
	gap: 1.25rem;
}

.stack.large {
	gap: 1.5rem;
}

.relative {
	position: relative;
}

.full footer {
	background-color: transparent;
}

.full nav {
	background-color: transparent;
	backdrop-filter: none;
}
