* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}

p,
span,
li {
    color: #000000;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #212121;
}

h2 {
    color: cornflowerblue;
}

.ol-code {
    color: #e32424;
    padding: 0.02em 0.3em;
    display: inline-block;
    background-color: #e6e6e6;
    font-family: monospace;
}

.header {
    /* background-image: url("../images/bgd.gif");*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: calc(1.6em + 0.3vw);
}

.header h2 {
    font-size: calc(1.1em + 0.1vw);
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hl {
    color: #fdfdfd
}

#alku {
    margin: 1em 0em;
    margin-bottom: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #8fa6dc;
    width: 75%;
    min-width: 400px;
    border-radius: 0.1em;
    padding: 0.5em 1em;
    max-width: 900px;
}

#alku p {
    font-size: 1em;
    margin-bottom: 0.7em;
}

#alku ul {
    margin: 0;
    margin-left: 1em;
    margin-bottom: 1em;
}

#alku a,
a:visited,
a:active {
    color: #0035e5;
}

#alku a:hover {
    color: white;
}

#toc p {
    color: white;
    margin-bottom: 0;
}

#toc ul {
    margin-bottom: 0.5em;
    list-style: none;
}

#toc li ul {
    list-style: circle
}

#toc {
    margin: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #8fa6dc;
    width: 75%;
    min-width: 400px;
    max-width: 900px;
    border-radius: 0.1em;
    padding: 0.5em 1em;
}

#toc a,
a:visited,
a:active {
    color: #0035e5;
}

#toc a:hover {
    color: white;
}

#content h2 {
    color
}

#content {
    margin-top: 3em;
    margin-bottom: 0.4em;
    padding: 1em 0;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 95%;
    min-width: 400px;
    background-color: #6e809a;
}

div.code {
    background-color: #e6e6e6;
    padding: 0.3em;
    padding-left: 0.5em;
    width: 30%;
    min-width: 250px;
    margin-left: 1.5em;
}

code.code {
    color: #e32424;
}

.osa .hl {
    color: crimson;
}

.margin-left {
    margin-top: 0;
    margin-left: calc(0.4em + 3.0vw);
}

div.code-maxwidth {
    background-color: #e6e6e6;
    padding: 0.3em;
    padding-left: 0.5em;
    width: 30%;
    min-width: 250px;
    margin-left: 1em;
    width: 99%;
}

code.code-maxwidth {
    max-width: 100%;
}

.core {
    padding: 0.4em;
    margin-bottom: 0.5em;
    background-color: #5d76b1;
    color: white;
}

.core p,
li {
    color: #e0e0e0;
}

.osa {
    width: 75%;
    min-width: 360px;
    background-color: white;
    margin: 1em 0;
    padding: 0.5em 1em;
    margin-top: 0
}

.osa p {
    margin: .5em 0;
    margin-left: 1em;
    max-width: 80%;
    min-width: 330px;
}

.osa hr {
    width: 20%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc);
}

a,
a:visited,
a:active {
    color: dodgerblue;
}

a:hover {
    color: aliceblue;
}

a {
    text-decoration: none;
}

div.commands {
    background-color: #778fc6;
    border-radius: 0.2em;
    padding: 0.5em 0em;
    margin: 0.9em 0;
    margin-top: 0;
    max-width: 80%;
}

div.admin {
    margin-top: 1em;
    background-color: #af8089;
}

ul.commands {
    margin-top: 0.1em;
    list-style: none;
    color: crimson;
}

ul.commands li {
    color: #ffffff;
}

ul.admin li {
    color: #ffffff;
}

hr {
    color: #313131;
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-width: 1.5px;
}

.showpic {
    border-radius: 8px;
    max-width: 100%;
}

.footer {
    margin: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol li {
    color: black !important;
}

#scene {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url(../images/iconthonk.png);
    background-size: 100% 100%;
    height: 64px;
    width: 64px;
}

@media screen and (max-width: 992px) {
    #alku {
        min-width: 300px;
    }
    #toc {
        min-width: 300px;
    }
}