#wrapper {
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
}

h1 {}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0;
	background-color: rgba('0,0,0,0');
}

::-webkit-scrollbar {
	width: 5px;
	background-color: rgba('0,0,0,0');
}

::-webkit-scrollbar-thumb {
	background-color: #E6E5DC;
}

table, p, h1 {
	font-family: 'Lato', sans-serif;
}

#upper {
	background-color: rgba(0, 0, 0, 0.16);
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 1vw;
	padding-top: 1vw;
}

td {
	padding-bottom: 0.24vw;
}

body, #footerbg {
	transition: background-color 7s;
	background-color: indigo
}

body {
	background-color: indigo;
	color: linen;
}

span {
	font-family: impact;
	color: rgba(33, 33, 33, 1.00);
	border-radius: 1px;
	padding: -1px 1px 0px 1px;
	box-shadow: 1px 1px 1px 1px black;
	letter-spacing: 1px;
}

#otsikko {
	font-size: calc(15px + 2vw);
	display: inline-block;
	vertical-align: top;
	word-spacing: 0.55vw;
	text-transform: uppercase;
	font-family: 'lato', sans-serif;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 10px;
	/*-webkit-text-stroke: 1px black;
 	color: white;
   	text-shadow:
       3px 3px 0.1 rgba('0,0,0,0.6'),
     -1px -1px 0.1 rgba('0,0,0,0.6'),  
      1px -1px 0.1 rgba('0,0,0,0.6'),
      -1px 1px 0.1 rgba('0,0,0,0.6'),
       1px 1px 0.1 rgba('0,0,0,0.6');*/
	opacity: 0;
	animation: in 3.6s ease-out forwards;
	animation-delay: 0.5s;
}

@keyframes in {
	100% {
		letter-spacing: calc(8px + .40vw);
		opacity: 1;
	}
	30% {
		letter-spacing: calc(8px + .40vw);
		opacity: 1;
	}
	0% {
		letter-spacing: calc(40px);
		opacity: 0;
	}
}

#jarjestus {
	position: fixed;
	width: 100%;
	font-size: calc(11px + 1.41vw);
	top: 0;
	display: inline-block;
	vertical-align: top;
	/*z-index: -1000;*/
}

.seli {
	text-align: left;
}

.esim {
	text-align: center;
	padding-bottom: .45vw;
}

.kasi {
	text-align: center;
	padding-bottom: calc(4px + .40vw);
}

.blyat, .kasi2, .seli2 {
	border-bottom: 1px solid;
}

#footerbg {
	/*	background-color: rgba(0,0,0,0.16); */
}

#footertable {
	padding-top: 0.5vw;
	letter-spacing: calc(1px + 0.005vw);
	word-spacing: calc(2px + 0.035vw);
	padding-left: calc(4px + 6vw);
	padding-right: calc(4px + 6.5vw);
	background-image: url('../img/overlay.png');
	background-size: cover;
}

.kasi2 {
	text-align: center;
	color: cornflowerblue;
	border-bottom-color: crimson;
	;
	padding-bottom: 0.5vw;
}

.seli2 {
	padding-left: 1vw;
	text-align: left;
	padding-bottom: .5vw;
}

.fth {
	font-size: calc(1em + 0.35vw);
	padding-bottom: 0.7vw;
}

/*#overlay {
	position: absolute;
	background-color: white;
	z-index: -10000;
}*/

.hidden {
	color: rgba(0, 0, 0, 0.00);
	border-radius: 0px;
	padding: 0 0 0 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#copyright {
	text-align: center;
	font-size: 0.5em;
	color: rgba(255, 255, 255, 0.3);
	border-bottom: 0px;
}

#footer {
	max-width: 100%;
	position: relative;
	top: calc(200px + 34vw);
	display: inline-block;
	vertical-align: top;
	font-size: calc(10px + 0.6vw);
	/*	z-index:-1000; */
}